{% extends 'header.html' %}

{% block content %}
{% include 'navbar.html' %}
<h4><span class="badge badge-dark w-100">Customise your bubble tea</span></h4>
<form action="/" class="needs-validation" method="POST">
    <div class="row">
        <div class="col-3">
            <label for="tea">Tea:</label>
            {% for tea in teas %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tea" value="{{tea}}" required>
                <label class="form-check-label">
                    {{tea}}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-3">
            <label for="sugar">Sugar Level:</label>
            {% for sugar in sugars %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sugar" value="{{sugar}}" required>
                <label class="form-check-label">
                    {{sugar}}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-3">
            <label for="pearl">Pearl:</label>
            {% for pearl in pearls %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pearl" value="{{pearl}}" required>
                <label class="form-check-label">
                    {{pearl}}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-3">
            <label for="topping">Topping:</label>
            {% for topping in toppings %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="topping" value="{{topping}}">
                <label class="form-check-label">
                    {{topping}}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit your order</button>
    <button type="reset" class="btn btn-warning">Clear form</button>
</form>
{% endblock %}